*{
    box-sizing: 0;
    margin: 0;
}

.main{
    width: 100%;
}

header{
    /* width: 80%; */
    /* margin: 0 auto; */
    background-color: rgb(101, 131, 121);
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

}

.nav-bar:has(li:hover)
{
   background-color: rgb(79, 114, 102);
}
.nav-items ul{
    display: flex;
    list-style: none;

}

.nav-items ul li{
    padding-left: 20px;
    font-size: 25px;
}

.nav-items ul li:hover{
    color: azure;
    cursor: pointer;
}